*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*

pgbtn.sh
os.sh
os2.sh
os3.sh
os3.txt

ao.sh
js.sh
pjs.sh
gaa.sh
