<!-- 2018:5:16 masaki edit add -->
<div class="and-you">

  <div class="author__content">
    <h3>&YOU</h3>
    <p>Thank you ♪</p>
  </div>
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      <li>
        <i class="fas fa-fw fa-donate" aria-hidden="true"></i>クリック募金
      </li>
      <li>
        <a href="http://www.dff.jp/"  target="_blank"　itemprop="sameAs">
          <i class="fas fa-fw fa-heart"></i>sumabo&nbsp;<i class="fas fa-xs fa-external-link-alt"></i>
        </a>
      </li>

      <li>
        <a href="http://www.brotherearth.com/ja/top.html"  target="_blank"　itemprop="sameAs">
          <i class="fas fa-fw fa-heart"></i>Brother Earth&nbsp;<i class="fas fa-xs fa-external-link-alt"></i>
        </a>
      </li>

      <li>
        <a href="https://www.webbellmark.jp/"  target="_blank"　itemprop="sameAs">
          <i class="fas fa-fw fa-heart"></i>Web Bellmark&nbsp;<i class="fas fa-xs fa-external-link-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
